{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<h2>{{this.event_date|dateformat('dd MMM')}} - {{ this.title }} @ {{bag('places', this.event_place, 'name')}}</h2>
  {{ this.body }}
  <time datetime="{{this.event_date|datetimeformat('full')}}">{{this.event_date|datetimeformat('medium')}}</time> @ {{bag('places', this.event_place, 'name')}} ({{bag('places', this.event_place, 'address')}})
{% endblock %}
