{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block moremeta %}
<meta property="og:title" content="{{this.title}}" />
<meta property="og:description" content="{{this.body | striptags | truncate(200, False)}}" />
<meta property="twitter:title" content="{{this.title}} - AvANa" />
<meta name="twitter:card" content="summary_large_image" />
{% if this.cover %}
<meta property="twitter:image" content="https://avana.forteprenestino.net{{this.cover}}" />
<meta property="og:image" content="https://avana.forteprenestino.net{{this.cover}}" />
{% endif %}
{% endblock %}
{% block body %}
  {{ render_blog_post(this) }}
{% endblock %}
