{% extends "layout.html" %}
{% block moremeta %}
<meta property="og:title" content="{{this.title}} - AvANa" />
<meta property="og:image" content="https://avana.forteprenestino.net{{this.cover}}" />
<meta property="og:description" content="{{this.body | striptags | truncate(200, False)}}" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="{{this.title}} - AvANa" />
<meta property="twitter:image" content="https://avana.forteprenestino.net{{this.cover}}" />
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<script type="application/ld+json">
	{% set eventdata = {
        "@context": "https://schema.org",
	"@type": "SocialEvent",
	"name": this.title,
    "description": this.body | striptags,
	"isAccessibleForFree": True,
	"attendee": {
		"@type": "Organization",
		"name": "Avana - Avvisi ai naviganti",
		"url": "https://avana.forteprenestino.net/",
	},
	"startDate": this.event_date.strftime('%Y-%m-%dT%H:%M:%S'),
	"location": {
		"@type": "Place",
		"name": bag('places', this.event_place, 'name'),
		"address": {
			"@type": "PostalAddress",
			"streetAddress": bag('places', this.event_place, 'address'),
		},
	},
} -%}

{%- if bag('places', this.event_place, 'website') -%}
{%- if eventdata.location.update({'url': bag('places', this.event_place, 'website')}) -%}{%- endif -%}
{%- endif -%}

{{ eventdata| tojson(indent=2) }}
</script>

<h2>{{this.event_date|dateformat('dd MMM YYYY')}} - {{ this.title }} @
	{{bag('places', this.event_place, 'name')}}</h2>
	{% if this.cover %}
	<figure>
        <a href="{{this.cover}}">
            <img class="cover" src="{{this.cover}}" alt="" />
        </a>
	</figure>
	{% endif %}
  {{ this.body }}
  <time datetime="{{this.event_date|datetimeformat('full')}}">{{this.event_date|datetimeformat('medium')}}</time> @
  {% if bag('places', this.event_place, 'website') %}<a href="{{bag('places', this.event_place, 'website')}}">{%endif%}
  {{bag('places', this.event_place, 'name')}}
  {% if bag('places', this.event_place, 'website') %}</a>{%endif%}
  {% if bag('places', this.event_place, 'latitude') %}
  (<a href="https://www.openstreetmap.org/?mlat={{ bag('places', this.event_place, 'latitude') }}&mlon={{ bag('places', this.event_place, 'longitude') }}">
	  {{-bag('places', this.event_place, 'address')}}</a>)
  {% elif bag('places', this.event_place, 'address') %}
  (<a href="https://www.openstreetmap.org/search?query={{ bag('places', this.event_place, 'address') | urlencode }}">
	  {{-bag('places', this.event_place, 'address')}}</a>)
  {% endif %}
{% endblock %}
