{% extends "layout.html" %}
{% block body %}

{% set has_prossimi_appuntamenti =  (site.query('/')
                                     .filter(F._model == 'event')
                                     .filter(F.event_date > now)
                                     .count() > 0)   %}

<section id="prossimi-appuntamenti"
         class="{% if has_prossimi_appuntamenti%}non-empty{%else%}empty{%endif%}">
    {% if has_prossimi_appuntamenti %}<h2>Prossimi appuntamenti</h2>{% endif %}
{% for evento in site.query('/')
                     .filter(F._model == 'event')
                     .filter(F.event_date > now)
		             .order_by('event_date')
		             .limit(5)   %}
<article class="article article-model--{{evento._model}}">
	<p>
	<time>{{evento.event_date|datetimeformat('EEEE dd MMMM YYYY - HH:mm')}}</time><br/>
	<a href="{{evento._slug}}">
		 {{evento.title}} @ {{bag('places', evento.event_place, 'name')}}
	</a>
	</p>
</article>
{% endfor %}
</section>

<section>
{% if has_prossimi_appuntamenti  %}
<h2>Altri contenuti</h2>
{% else %}
<h2>Ultimi contenuti</h2>
{% endif %}

<ul id="contenuti-sito">
{% for page in site.query('/')
		.filter((F._model == 'blog-post').or(F._model == 'event'))
		.order_by('-pub_date')
		.limit(60)
	%}
	{% if page._model != 'event' or page.event_date < now %}
	<li class="article article-model--{{page._model}}">
		<a id="{{page._id}}" href="{{page._slug}}">{{page.title}}</a>
		{% if page._model == 'event' %}
		<small>{{page.event_date|datetimeformat('EEEE dd MMMM YYYY - HH:mm', locale='it_IT') }}</small>
		{% else %}
		<small>{{page.pub_date}}</small> 
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>
</section>


{% endblock %}

