<!doctype html>
<meta charset="utf-8" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{%endblock%} - AvANa</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link rel="stylesheet" href="{{ '/static/css/style.css' | asseturl }}">
    <link rel="icon" href="/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
    <link rel="alternate" href="/feed.xml"  type="application/atom+xml" title="Feed AvANa" />
    <link rel="alternate" href="/calendar.ics"  type="text/calendar" title="Calendario AvANa" />
    {% block moremeta %}{% endblock %}


    {# partial "site-style.html" . #}
  </head>

  <body>
  <header>
	  <div class="header-logo">
	  <img class="logo" src="{{ '/static/images/logo-vecchio.png' | asseturl }}" alt="logo" />
	  </div>
	  {% block header %}
	  <div class="header-title">
	  <h1>AvANa  - <small> AVvisi Ai NAviganti </small>
	  </h1>
	  </div>
    {%endblock%}
  </header>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Home</a></li>
        {% for href, title in [
          ['/about', 'About'],
          ['/old/', 'Vecchio sito']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <main class="pb7" role="main">
	    {% block body %}{%endblock %}
    </main>
    <footer>
	  {% block footer %}{%endblock%}
    </footer>
  </body>

